<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uts.sdk.utsAccessibilityService">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <service
            android:name="uts.sdk.utsAccessibilityService.AppMonitorService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice">
                <meta-data android:name="accessibilityEventTypes" android:value="typeWindowStateChanged" />
                <meta-data android:name="accessibilityFeedbackType" android:value="feedbackGeneric" />
                <meta-data android:name="accessibilityFlags" android:value="flagReportViewIds" />
                <meta-data android:name="canRetrieveWindowContent" android:value="true" />
                <meta-data android:name="notificationTimeout" android:value="100" />
            </meta-data>
        </service>

        <service
            android:name="uts.sdk.utsAccessibilityService.MonitorForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name="uts.sdk.utsAccessibilityService.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
